version: "3.9"

services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend


  frontend:
    build: ./Frontend
    environment:
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
    expose:
      - "3000"


  backend:
    build: ./Backend
    expose:
      - "8080"
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://postgres:Try2read@db:5432/rust_server
    depends_on:
      - db


  db:
    image: postgres:15
    environment:
      POSTGRES_DB: rust_server
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Try2read
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
